<!doctype html>
<html lang="en" th:fragment="html (title,content,isPost)">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title th:text="${title}"></title>
    <meta name="description" th:content="${site.subtitle}" />
    <meta name="author" content="Wei Wang" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="${title!}" />
    <meta name="twitter:description" th:content="${site.subtitle}" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="${title!}" />
    <meta property="og:description" th:content="${site.subtitle}" />

    <link rel="stylesheet" th:href="@{/assets/dist/style.css}" />
    <link href="//cdn.jsdelivr.net/npm/font-awesome@4.1.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>

  <body>
    <span class="mobile btn-mobile-menu">
      <i class="fa fa-list btn-mobile-menu__icon"></i>
      <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>

    <th:block th:replace="~{_includes/side-panel :: side(${isPost})}"></th:block>

    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <th:block th:replace="${content}"></th:block>
        <th:block th:replace="~{_includes/footer}"></th:block>
      </div>
    </div>

    <th:block th:replace="~{_includes/external}"></th:block>
  </body>
</html>
